@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #36c;
  --primary-2: #fff;
  
  --accent-1: #202122;
  --accent-2: #f8f9fa;
  --accent-3: #cddeff;

  --shade-1: #F9F9F9;
  --shade-2: #f1f3f3;
  --shade-3: #ecf0f0;
  --shade-4: #a2a9b1;
  --shade-5: #72777d;
  --shade-6: #2f5bb3;
}

ol.current-date-custom-list {
  list-style: none;
  counter-reset: item;
}
li.current-date-custom-list-item {
  counter-increment: item;
  margin-bottom: 5px;
}
li.current-date-custom-list-item:before {
  content: counter(item);
  background: var(--shade-2);
  border-radius: 100%;
  color: var(--accent-1);
  width: 2.3em;
  text-align: center;
  display: inline-block;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
